# Зависимости
node_modules/
.pnp
.pnp.js

# Логи
*.log
npm-debug.log*
pnpm-debug.log*

# Окружение (секреты!)
.env
.env.local
.env.*.local

# Сборки
dist/
build/
.next/

# Expo
.expo/
.expo-shared/
web-build/

# IDE / ОС
.vscode/
.idea/
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal
